.container{
    display: grid;
    width: 350px; 
    height: 350px;
    margin: auto;
}

.boardCell {
    background-color: white;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    cursor: pointer;
}

.boardCell:hover {
    background-color: lightgray;
}

body{
    text-align: center;
    background-color: beige;
}